
/* ------------------------------------------------------------------------------------------------
* HOVER STANDARD
* ------------------------------------------------------------------------------------------------ */

.woodmart-hover-standard {
	
	.woodmart-buttons {
		@extend %position-top-right-hover-buttons;
		@extend %fade-in-left-start-position;
	}

	.btn-add {
		margin-top: 10px;

		> p {
			display: none;
		}

		> a {
			@extend %buttons-text-replace-icon;
			@extend %shop-buttons;
			@include btn-default-primary;	

			span:not(.woodmart-tooltip-label) {
				@include button-size-small;
			}
		}

		.added_to_cart {
			@include button-size-small;

			&:before {
				content: none;
			}
		}
	}

	&:hover {

		.woodmart-buttons {
			@extend %fade-in-left-hover-position;
		}
	}

	&.loading-quick-shop,
	&.quick-shop-shown,
	&.product-swatched {

		.woodmart-buttons {
			@include fade-in-left-start-position;
		}	
	}

	&.product-swatched {

		&:not(.quick-shop-shown):not(.loading-quick-shop) {

			.product-element-top {

				&:hover {

					.woodmart-buttons {
						@include fade-in-left-hover-position;
					}	
				}
			}			
		}
	}
}